.overall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #000;
  border-radius: 5px;
}
.overall h3 {
  margin : 10px 0 5px;
  color : rgb(255, 255, 150);
  font-size: .9rem;
}
.container {
  max-width: 750px;
  max-height: 350px;
  padding : 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 4px;
}
.label {
  font-size: 1rem;
  text-align: center;
  padding: 8px;
  font-weight: bold;
  border: 1px solid #fff;
  background-color: #000;
  color: var(--mauGiaoVien--);
  border-radius: 2px;
  cursor : not-allowed;
}
.date {
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: #fff;
  cursor : pointer;
  transition : all .2s;
}
.date:hover {
    border: 1px solid rgb(180, 255, 180);
    background-color: rgb(180, 255, 180);
}
.date:disabled {
  cursor : not-allowed;
  border: 1px solid gray;
  background-color: gray;
}
.date-single {
  background-color: var(--mauPhu1--);
  opacity: .8;
}
.date-group {
  background-color: var(--mauPhu2--);
  opacity: .8;
}
.date-both {
  background-color: var(--mauGiaoVien--);
  opacity: .8;
}
.notis {
  align-self: flex-start;
  color : rgb(255, 255, 150);
  font-size: .8rem;
  display : flex;
  flex-direction: row;
  margin : .3rem;
  padding : 0 .8rem;
}
.noti {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border : 1px solid rgb(255, 255, 150);
  padding : 2px 5px;
  border-radius: 5px;
  margin : 0 .3rem;
}
.noti >* {
  margin : .2rem;
}

