.container {
    display : flex;
    flex-direction: column;
    padding : var(--dim-xm--) var(--dim-md--);
    background-color: var(--mauVien--);
    border-radius: 10px;
    margin : 0 auto;
    margin-top: 20px;
    width : 80%;
    height : 75vh;
    overflow: scroll;
}
.container h3 {
    text-transform: uppercase;
    color : var(--mauPhu2--);
    font-size: var(--text-sm--);
    align-self: center;
}