.container {
  font-size: var(--text-sm--);
  border: dashed 1px var(--mauVienMo--);
  padding: var(--dim-md--);
  margin: 0 auto;
  margin-top: var(--dim-sm--);
  border-radius: 10px;
  width: 80%;
  text-align: center;
}
.container h3 {
  margin-top: 0;
  font-size: var(--dim-md--);
  text-transform: uppercase;
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.control {
  margin-bottom: var(--dim-md--);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.control label {
  margin-right: 1rem;
}
.control input {
  outline: none;
  border: 1px solid var(--mauVanBanMo--);
  border-radius: 5px;
  padding: 1px 4px;
}
.control input:focus {
  border: 1px solid var(--mauHighlight--);
  background-color: var(--mauHighlightMo--);
}
.tags {
  text-align: left;
}
.tags > * {
  display: block;
  margin: 10px 0;
}
.actions {
  display : flex;
  flex-direction: row;
  justify-content: center;
  margin-top: var(--dim-sm--);
}
