.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  margin: 1rem auto;
  font-size: var(--text-sm--);
}
.container > * {
  margin-bottom: 1.5rem;
}
.note {
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 8px;
  line-height: 1.3;
}
.addForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(173, 216, 230, 0.4);
  border-radius: 5px;
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}
.result {
  display : flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 0, 0.2);
  border-radius: 5px;
  padding : 1rem 0;
  text-align: center;
}
.result label {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin : .5rem;
}
.result h3 {
  font-size: 1.5rem;
  color : var(--mauPhu1--)
}
.noti {
  border-radius: 5px;
  background-color: rgba(255, 255, 0, 0.2);
  padding : 1rem;
}
.linkBtn a {
  text-decoration: none;
  transition : all .2s;
}
.linkBtn {
  padding : 5px;
  margin : 0 3px;
  border-radius: 5px;
  background-color: var(--mauNut--);
  cursor : pointer;
  text-align: center;
}
.linkBtn a:hover {
  color : #fff;
}