html {
  box-sizing: border-box;
}

body {
  font-size : 62.5%;
  margin : 0 ; 
  padding : 0;
  font-family: Arial, Helvetica, sans-serif;
  color : var(--mauVanBan--);
  background-color : var(--mauVien--);

  /* Biến phối màu cho web */
  --mauNen-- : #fffffe;
  --mauTieuDe-- : #181818;
  --mauVanBan-- : #2e2e2e;
  --mauVanBanMo-- : #2e2e2e86;
  --mauNut-- : #4fc4cf;
  --mauNut-ghost-- : rgb(175, 175, 175);
  --mauNut-xacThuc-- : darkred;
  --mauVien-- : #181818;
  --mauVienMo-- : #18181870;
  --mauChinh-- : #f2eef5;
  --mauHighlight-- : #4fc4cf;
  --mauHighlightMo-- : #4fc4cf50;
  --mauPhu1-- : #994ff3;
  --mauPhu2-- : #fbdd74;
  --mauGiaoVien--: #2cb67d;
  --mauHocSinh--:#994ff3;
  /* Biến kích thước */
  --dim-xm-- : .5rem ;
  --dim-sm-- : 1rem ;
  --dim-md-- : 1.5rem;
  --dim-lg-- : 2rem;
  --dim-xl-- : 2.5rem;
  --text-sm-- : 1rem;
  --text-md-- : 1.2rem;
  --text-lg-- : 1.5rem;
}

/* Thiết lập chung các css cho nút */
.btn {
  border-radius: 5px;
  padding : 4px 10px;
  outline : none;
  font-size: var(--text-sm--);
  transition : all .3s;
  margin : 0 .5rem;
  cursor : pointer;
}
.btn-submit {
  border : 1px solid var(--mauNut-xacThuc--);
  background-color: var(--mauNut-xacThuc--);
  color : #fff;
}
.btn-cancel {
  border : 1px solid var(--mauNut-ghost--);
  background-color: var(--mauNut-ghost--);
  color : #fff;
}
.btn-submit:hover {
  border : 1px solid var(--mauNut-xacThuc--);
  background-color: #fff;
  color : var(--mauNut-xacThuc--);
}
.btn-cancel:hover {
  border : 1px solid var(--mauNut-ghost--);
  background-color: #fff;
  color : var(--mauNut-ghost--);
}

.btn-sm {
  border-radius: 5px;
  padding : 3px 8px;
  outline : none;
  font-size: .9rem;
  transition : all .3s;
  margin : 0 .5rem;
  cursor : pointer;
}
.btn-sm-detail {
  border : 1px solid var(--mauNut--);
  background-color: var(--mauNut--);
  color : #fff;
}
.btn-sm-detail:hover {
  border : 1px solid var(--mauNut--);
  background-color: #fff;
  color : var(--mauNut--);
}
.btn-sm-delete {
  border : 1px solid var(--mauNut-ghost--);
  background-color: var(--mauNut-ghost--);
  color : #fff;
}
.btn-sm-delete:hover {
  border : 1px solid var(--mauNut-ghost--);
  background-color: #fff;
  color : var(--mauNut-ghost--);
}